@font-face { font-family: Poppins-Medium;
 			 src: url('./font/Poppins-Medium.ttf');}
@font-face { font-family: MontserratSubrayada-Bold;
			 src: url('./font/MontserratSubrayada-Bold.ttf');}

.header{
  position:relative;
  padding: 0.1%;
  vertical-align: top;
  text-align:center;
  background:#5553E4;
  color:white;
  font-size:1.5vw;
  font-family: MontserratSubrayada-Bold;
  z-index:999;
}

#cart,
#cart_button a:link,
#cart_button a:hover,
#cart_button a:active,
#cart_button a:active {
  color:white !important;
}

.bi-bag-check{
  color:white !important;
  position:absolute;
  top:20%;
  right:5%;
}

.bi-check2-circle {
  color:green !important;
  position:absolute;
  top:10%;
  left:43.5%;
}

.check-text {
  font-size: 20px;
  position:absolute;
  top:32.5%;
  left:43%;
  text-align: center;
  /* border: 3px solid green; */
}

.installments_count {
  font-size:20px;
  text-align:left;
  position: absolute;
  top:50%;
  left:41.5%;
  font-family: Poppins-Medium;
}
